@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Yellowtail', cursive;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background: #ff3838;
  color: white;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background: white;
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 2rem 9%; 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header .logo i{
  padding-right: .5rem;
  color:#ff3838
}

header .navbar a{
font-size: 2rem;
margin-left: 2rem;
color: #666;
}

header .navbar a:hover{
  color: #ff3838;
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color: white;
  border: .1rem solid rgb(255, 255, 255);
  border-radius: .3rem;
  padding: .5rem 1.5rem;
  display: none;
}

























@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding: 2rem;
  }
}

@media(max-width:768px){
  
  #menu-bar{
    display: initial;
  }
}